<%= form_for(resource, :validate => true, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <div class="control-group">
    <%= f.label :name, "Nome", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, "Nova senha", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
      <p class="help-block">Deixe em branco caso não queira alterar.</p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, "Confirme sua nova senha", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <hr>
  <div class="control-group">
    <%= f.label :current_password, "Senha atual", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :current_password %>
    </div>
    <p class="help-block">Entre com sua senha atual para confirmar as alterações.</p>
  </div>

  <%= f.submit "Atualizar", :class => "btn btn-success span3" %>
<% end %>

<hr>

<p><%= link_to "Cancelar minha conta", registration_path(resource_name), :confirm => "Tem certeza ?", :method => :delete, :class => "btn btn-danger" %></p>
