<%= form_for(User.new, :as => :user, :url => registration_path(:user), :html => {:class => "center-block"}) do |f| %>
  <div>
    <%= f.text_field :name, :placeholder => "Nome completo" %>
  </div>

  <div>
    <%= f.email_field :email, :placeholder => "Email" %>
  </div>

  <div>
    <%= f.password_field :password, :placeholder => "Senha" %>
  </div>

  <!-- <div> -->
    <%#= f.password_field :password_confirmation %>
  <!-- </div> -->

  <div>
    <%= f.submit "Cadastrar", :class => "btn btn-success", :style => "width:220px" %>
  </div>
<% end %>