<%= form_for Project.new(:user_id => current_user.id), :html => {:class => "form-horizontal pull-left"} do |f| %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field span4' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area span4', :rows => 5 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags, :class => 'text_field span4' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :delivery_year, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :delivery_year, :class => 'span1', :discard_day => true, :discard_month => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :college_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :college_id, College.all.collect {|c| [c.name, c.id]} %>
    </div>
  </div>
  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to "Cancelar", "", "data-dismiss" => "modal" %>
<% end %>
